body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0944b5;
}

.div1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 300px;
  background-color: #001d64;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  padding: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 60%;
  height: 70%;
  border-radius: 10px;
  color: aliceblue;
}

.input {
  height: 30px;
  width: 50%;
  border-radius: 10px;
}

#boton {
  background-color: #006495;
  width: 40%;
  height: 15%;
  border-radius: 10px;
  color: aliceblue;
}

#parrafo {
  color: aliceblue;
}

h1 {
  color: aliceblue;
}
